<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/Funciones.js') }}" defer></script>
    <title>Document</title>
</head>
<body>

<header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Velazcres</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('listado') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cotizacion_int') }}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mostrador') }}">Productos</a>
        </li>
      </ul>
      <span class="navbar-text">
        Eslogan
      </span>
    </div>
  </div>
</nav>
</header>

<div  class="contenedor-formularios">
    <div class="form-group rounded-top">
      <div>
    <h1>editar</h1>
    <form method="POST" action="{{ url_for('actualizar_producto', producto_id=producto['id'])}}">

        <label for="">nombre:</label><br>
        <input type="text" class="form-control" name="nombre" id="nombre"  value="{{producto['nombre']}}" required> 
       
        <label for="">Marca:</label><br>
        <input type="text" class="form-control" name="marca" id="marca" value="{{producto['marca']}}">
        
        <label for="">Precio:</label><br>       
        <input type="text" class="form-control" name="precio" id="precio" step="0.01" value="{{producto['precio']}}" required>         

        <label for="">Cantidad:</label><br>
        <input type="number" class="form-control" name="cantidad" id="cantidad" value="{{producto['cantidad']}}"> <br><br>

      </div>  

      <button class="btn btn-outline-info" type="submit">Guardar</button>
        <button class="btn btn-outline-danger " ><a class="text-decoration-none boton-cancelar-editar" style="color: red;" href="{{ url_for('mostrador') }}">Cancelar</a></button>

    </div>

        
        

        


        
    </form>
        <div class="card form-group" style="width: 18rem; height: 55%;">
            <img class="editar-img" src="{{ url_for('static', filename='img/productos/' + producto['id']|string + '.jpg') }}" class="card-img-top" alt="...">
         <div class="card-body">

            

            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>

            <a href="#" class="btn btn-primary">Go somewhere</a>
            <form method="POST" action="{{ url_for('subir_imagen', producto_id=producto['id']) }}" enctype="multipart/form-data">
            
            <input type="file" name="imagen" id="imagen" accept="image/*" required style="display:none;">
            <label for="imagen" class="btn btn-primary btn-sm btn-block mb-2"> Seleccionar imagen</label>
            
            <button type="submit" class="btn btn-primary">Cambiar imagen</button>
</form>
         </div>
        </div>
</div>
</body>
</html>