<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/FuncionesEditar.js') }}" defer></script>
    <title>Document</title>
</head>
<body>

<header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Velazcres</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cotizacion_int') }}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mostrador') }}">Productos</a>
        </li>
      </ul>
      <span class="navbar-text">
        Eslogan
      </span>
    </div>
  </div>
</nav>
</header>

<div  class="contenedor-formularios">
    <div class="form-group rounded-top border-success rounded-top">
    <h1>editar</h1>
    <form method="POST" action="{{ url_for('actualizar_productos1', productos_id=productos['id'])}}">

       <h2>{{productos['nombre']}}</h2>
       <h3>{{productos['marca']}}</h3>

        <label for="">Precio:</label><br>
        <div><span>Bs.
        <input class="precio-producto" type="text" name="precio-producto" id="precio"
        value="{{productos['precio']}}" required oninput="multiplicacion(this)" > <br><br>
        </span></div>

        <label for="">cantidad:</label><br>
        <input class="cantidad-producto" type="text" name="cantidad-producto" id="cantidad-producto"
        value="{{productos['cantidad']}}" required oninput="multiplicacion(this)"> <br><br>
    
        <label for="">Precio por unidad:</label><br>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
        </div>
        <input type="text" class="form-control precioporunidad" name="precioporunidad" id="precioporunidad" aria-label="Amount (to the nearest dollar)"
        value="{{productos['precioporunidad']}}" required oninput="multiplicacion(this)">
        </div>
        
        <label for="">tasapago:</label><br>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
        </div>
        <input type="text" class="form-control tasapago" name="tasapago" id="tasapago" aria-label="Amount (to the nearest dollar)"
        value="{{productos['tasapago']}}" required oninput="multiplicacion(this)">
        </div>
        
        

        <label for="">TasaBCV Hoy:</label>
        
        <div><span>BCV.
        <input class="tasapagohoy" type="text" name="tasapagohoy" id="tasapagohoy"
        value="{{ '%.2f'|format(tasa_bcv) if tasa_bcv else '' }}" readonly>
        </span></div>

        
        
        <label for="">precio en USD $:</label><br>
        <div><span>USD $.
        <input class="preciod" type="text" name="preciod" id="preciod"
        value="{{productos['precioD']}}" required oninput="multiplicacion(this)"> <br><br>
        </span></div>

        <label for="">precio en USD $ hoy:</label><br>
        <div><span>USD $.
        <input class="preciod1" type="text" name="preciod1" id="preciod1"
        required oninput="multiplicacion(this)"> <br><br>
        </span></div>

        <div>
        <label for="">Precio de Venta:</label><br>
        <div><span>Bs.
        <input class="precio-venta" type="number" name="precio-venta" id="precio-venta"
        value="{{productos['precio_venta']}}" required oninput="multiplicacion(this)"> <br><br>
        </span></div>
        </div>

        <div>
        <label for="">Porcentaje de ganancia%</label>
        <span>%
        <input class="porcentajeCV" type="text" name="porcentajecompraventa" id="porcentajecompraventa">
        </span>
        </div>

        <label for="">Ganancia estimadaD:</label><br>
        <div><span>USD $.
        <input class="gananciaD" type="text" name="gananciaD" id="gananciaD"
        value="{{productos['ganancia_estimadaD']}}"  oninput="multiplicacion(this)"> <br><br>
        </span></div>

        <label for="">Valor actual del producto en USD $.:</label><br>
        <div><span>USD $.
        <input class="ValorActualD" type="text" name="ValorActualD" id="ValorActualD"
        oninput="multiplicacion(this)"> <br><br>
        </span></div>

        <label for="">Ganancia estimadaBs:</label><br>
  
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
        </div>
        <input type="text" class="form-control ganaciaBs" name="ganaciaBs" id="ganaciaBs" aria-label="Amount (to the nearest dollar)"
        value="{{productos['ganancia_estimadaBs']}}" required oninput="multiplicacion(this)">
        </div>

        

            <button type="submit">Guardar</button>
            <button>
                <a href="{{ url_for('listado')}}">cancelar</a>
            </button>
    </div>
        <div>
            <img class="editar-img" src="{{ url_for('static', filename='img/product/' + productos['id']|string + '.jpg') }}" class="card-img-top" alt="...">
        </div>


        
    </form>
</div>


</body>
</html>