<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/FuncionesInsert.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Velazcres</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mostrador') }}">Productos</a>
        </li>
      </ul>
      <span class="navbar-text">
        Eslogan
      </span>
    </div>
  </div>
</nav>
</header>
    <div>
  <table class="table table-striped table-dark"  style="width: 75%; margin-left: auto; margin-right: auto;" >
    <thead class="">
      <tr>
      <th>id</th>
      <th>Producto</th>
      <th>Marca</th>
      <th>Moneda</th>
      <th>Gastado</th>
      <th>Cantidad</th>
      <th>Precio por unidad</th>
      <th>Tasapago</th>
      <th>Conversion</th>
      <th>Precio de una estimada venta</th>
      <th>Total en divisa</th>
      <th>Total en bolivares</th>
      <th>Cotizaciones</th>
      <th>Eliminar</th>
      </tr>

    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <th>{{ producto.id }}</th>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.moneda }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precioporunidad }}</td>
        <td><span>BCV.</span>{{ producto.tasapago }}</td>
        <td><span>USD. $</span>{{ producto.precioD }}</td>
        <td><span>Bs.</span>{{ producto.precio_venta }}</td>
        <td><span>USD $.</span>{{ producto.ganancia_estimadaD }}</td>
        <td><span>Bs.</span>  {{ producto.ganancia_estimadaBs }}</td>
        <td><a class="btn btn-outline-warning" href="{{ url_for('editar_productos1', productos_id=producto['id']) }}" >cotizacion</a></td>
        <td><form action="{{ url_for('eliminar_producto1', productos_id=producto.id) }}" method="post"><button class="btn btn-outline-danger"  onclick="return confirm('¿Confirmar?')"> Eliminar</button></form></td>
        {% else %}
        <tr><td>No hay productos</td></tr>
        {% endfor %}
        


      </tr>



    </tbody>
  </table>
</div>
</body>
</html>