<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Velazcres</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
      </ul>
      <span class="navbar-text">
        Eslogan
      </span>
    </div>
  </div>
</nav>

    </header>
    <div >
        <h1>Productos</h1>

        <div class="contenedor-mostrador">
            {% for producto in productos %}

            

        <div class="  card" style="width: 18rem;">

        <a href="{{ url_for('editar_producto', producto_id= producto['CODIGO']) }}">
        <img class="producto-img" src="{{ url_for('static', filename='img/productos/' + producto['CODIGO']|string + '.jpg') }}" class="card-img-top" alt="...">
        </a>
            <div class="card-body">
                <h2>{{ producto.nombre }}</h2>
                <h4>Precio: ${{ producto.precio }}</h4>
                <h4>cantidad</h4>
            </div>
            {% endfor %}


        </div>





    </div>



</body>
</html>