.contenedor-formularios {
    display: flex;
    gap: 20px; /* separación entre los dos bloques */
    align-items: stretch; /* hace que ambos tengan la misma altura */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.form-group {
    border: 1px solid #ccc; /* opcional, para ver los límites */
    padding: 15px;
    box-sizing: border-box;
}

.form-group:first-child {
    width: 60%;
}

.form-group:last-child {
    width: 40%;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
}

.table-margin{
    max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     
}

.margin-botones-agregar-eliminar{
    margin-left: 60px;
}